# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=ynmpcv7c
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_VERSION=2023-08-24

# Revalidation Secret (generate a random string for production)
# This is used by Sanity webhooks to trigger on-demand revalidation
REVALIDATE_SECRET=your-secret-here
